<mat-toolbar 
        style="height: fit-content !important;
               background-color: transparent;
               background: linear-gradient(90deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.1));
               border-radius: 10px;">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="toggleNav()">
      <div class="sidebaricon open" id="sidebarbtn"></div>
    </button>
    <span>{{title}}</span>
    <span class="example-spacer"></span>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <div class="homeicon"></div>
    </button> -->
  </mat-toolbar>