<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field style="width: 100%;background-color: white;">
        <mat-label>User Id</mat-label>
        <input type="email" name="userid" matInput formControlName="userid"  [formControl]="userIdFormControl" [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com">
        @if (userIdFormControl.hasError('required')) {
        <mat-error>User Id is <strong>required</strong></mat-error>
        }
    </mat-form-field>    

    <mat-form-field style="width: 100%;background-color: white;">
        <mat-label>Email Id</mat-label>
        <input matInput type="email" name="password" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
            @if (emailFormControl.hasError('required')) {
            <mat-error>Email Id is <strong>required</strong></mat-error>
            }
            @if (emailFormControl.hasError('email')) {
            <mat-error>Please enter a valid email address</mat-error>
            }
        </mat-form-field>

        <button type="submit" mat-fab extended style="background-color: rgb(87, 87, 182);width: 100%;color: white;">
        <!-- <mat-icon>send</mat-icon> -->
         <div class="submiticon"></div>
            Submit
        </button>
    </form>