@use '../../../styles.scss' as *;

.sidenav-card {
    width: 100% !important;
    max-width: 100% !important;
}

.sidenav-component{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px !important;
}

.sidenav-card-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% !important;
}

.navbtns{
    width: 100% !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
    height: 30px;
    margin-bottom: 10px !important;
    background: linear-gradient(to right, rgba(255,255,255,0.2), rgba(255,255,255,0.2));
    background-color: $base-color;
    color:white;
    text-overflow: ellipsis;
    // display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: small;
}

.navlist{
    width: 100%;
}

.active-link {
    background-color: #ff9800 !important; /* Change to any color */
    color: white !important;
    font-weight: bold;
}

.sidebarclosebtn{
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebarclosebtn{
        display: block;
    }
}