<!-- <div class="container">
    <header>
        <button class="toggle-btn" (click)="toggleNav()">&#9776;</button>
        <img src="logo.png" alt="Logo" class="logo">
        <h1>Website Name</h1>
    </header>
    <nav class="sidenav" id="sidenav">
        <button class="toggle-btn" (click)="toggleNav()">&times;</button>
        <p>Side Navigation Content</p>
    </nav>
    <main class="content" id="content">
        <p>Main content goes here...</p>
    </main>
    <footer class="footer">
        <p>Version 1.0 | &copy; 2025 Your Company</p>
    </footer>
</div> -->

<div class="container">

    <!-- <div class="container-header">
        <app-header [title]="pagename"></app-header>
    </div> -->

    <div class="container-content">
        <div class="sidenav open" id="sidenav">
            <app-sidebar></app-sidebar>
        </div>
        <main class="content" id="content">
            <div class="container-header">
                <app-header [title]="pagename" [username]="username"></app-header>
            </div>
            <div style="display: flex;flex-direction: column;max-height: 90vh;overflow: hidden;">
                <router-outlet></router-outlet>
            </div>
        </main>
    </div>
    
    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>

@if(isLoading){
    <!-- <div style="display: flex;
        justify-content: center;
        align-items: start;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        box-sizing: border-box;
        top:0
        "> -->
        <!-- background: linear-gradient(90deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)); -->
        <!-- <mat-progress-bar mode="query"></mat-progress-bar>
    </div> -->
    <mat-progress-bar style="display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    box-sizing: border-box;
    top:0" mode="query"></mat-progress-bar>
}

@if(isSubmitting){
    <div style="display: flex;
        flex-direction: column;
        gap: 5px;
        justify-content: center;
        align-items: center;
        position: fixed;
        height: 100vh;
        width: 100vw;
        z-index: 1000;
        box-sizing: border-box;
        top:0;
        background: linear-gradient(180deg, rgba(0,0,0,0.6), rgba(0,0,0,0.8))
        ">
        <mat-spinner>Loading</mat-spinner>
        <span style="color: white;">Loading...</span>
    </div>
}
