<!-- <div class="container">
    <header>
        <button class="toggle-btn" (click)="toggleNav()">&#9776;</button>
        <img src="logo.png" alt="Logo" class="logo">
        <h1>Website Name</h1>
    </header>
    <nav class="sidenav" id="sidenav">
        <button class="toggle-btn" (click)="toggleNav()">&times;</button>
        <p>Side Navigation Content</p>
    </nav>
    <main class="content" id="content">
        <p>Main content goes here...</p>
    </main>
    <footer class="footer">
        <p>Version 1.0 | &copy; 2025 Your Company</p>
    </footer>
</div> -->

<div class="container">

    <!-- <div class="container-header">
        <app-header [title]="pagename"></app-header>
    </div> -->

    <div class="container-content">
        <div class="sidenav open" id="sidenav">
            <app-sidebar></app-sidebar>
        </div>
        <main class="content" id="content">
            <div class="container-header">
                <app-header [title]="pagename"></app-header>
            </div>
            <router-outlet></router-outlet>
        </main>
    </div>
    
    <footer class="footer">
        <app-footer></app-footer>
    </footer>
</div>